* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Estilo base del preload */
.preload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
    gap: 20px;
}

/* Estilo para la imagen del logo */
.preload .Logo {
    width: 946px;
    height: auto;
    max-width: 80%;
}

/* C铆rculo animado o decorativo */
.circle {
    width: 50px;
    height: 50px;
    margin-left: 64px;
    border: 5px solid #f58c04;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

/* Animaci贸n del c铆rculo */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/*Preload*/
/* Smartphones y tablets verticales hasta 768px */
@media screen and (max-width: 768px) {
    .preload .Logo {
        width: 311px;
    }

    .circle {
        width: 30px;
        height: 30px;
        margin-left: 19px;
        border-width: 3px;
    }
}

/* iPad Air (820 x 1180) */
@media screen and (max-width: 820px) {
    .preload .Logo {
        width: 150px;
    }
}

/* iPad Pro (1024 x 1366) */
@media screen and (max-width: 1024px) {
    .preload .Logo {
        width: 160px;
    }
}

/* Google Nest Hub Max (1280 x 800) */
@media screen and (max-width: 1280px) {
    .preload .Logo {
        width: 170px;
    }
}

/* Galaxy Z Fold 5 (pantalla externa) */
@media screen and (max-width: 904px) {
    .preload .Logo {
        width: 311px;
    }
}


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle, #000000, #000000);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes glow-flash-futuristic {
    0% {
        box-shadow: 0 0 10px rgba(241, 38, 12, 0.6);
        /* Violeta */
    }

    33% {
        box-shadow: 0 0 30px rgba(0, 255, 255, 0.9);
        /* Cian */
    }

    66% {
        box-shadow: 0 0 45px rgba(255, 20, 147, 1);
        /* Rosa fuerte */
    }

    100% {
        box-shadow: 0 0 10px rgba(138, 43, 226, 0.6);
        /* Regreso a violeta */
    }
}

.container {
    width: 1501px;
    max-height: 90vh;
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 2rem;
    overflow: overlay;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    background-size: 400%;

    /*  Animaci贸n brillante */
    animation: glow-flash-futuristic 2.0s linear infinite;
}





/* Imagen + T铆tulo */
.image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(255 255 255 / 11%);
    padding: 20px;
    color: white;
    border-radius: 0 20% 20% 0;
    transition: border-radius .3s;
}

/* Formulario */
.form-box {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.image-box img {
    width: 530px;
    margin-bottom: 20px;
}

.image-box p {
    text-align: center;
    font-size: 18px;
}

.form-box {
    background: none;
}

.form-toggle {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.form-toggle button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.form-toggle button.active,
.form-toggle button:hover {
    background: #fff;
    color: #000;
}

.input-group {
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.input-group textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}


.input-group select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.input-group option {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background: rgba(211, 211, 211, 0.247);
    color: #0000ff;

}


.input-group input::placeholder {
    color: #ddd;
}

.form-box button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #03f80f, #008100);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 55px;
}


h2 {
    color: #000000;
}


h3 {
    color: white;
    margin-top: 20px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    border-radius: 12px;
    background-color: #fcfcfc2d;
    cursor: pointer;
    font-weight: 500;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    user-select: none;
}

.option input[type="checkbox"] {
    display: none;
}

.option input[type="radio"] {
    display: none;
}


.option span {
    font-size: 16px;
}

.option.selected {
    background-color: #f08318da;
    color: #fff;
    box-shadow: -5px 9px 20px 0px rgb(253 0 0 / 84%);
}


.price-section {
    max-width: 300px;
}

.price-input {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;

    color: #fff;
}

.dollar-sign {
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
    margin-left: 19px;
}

.price-input input {
    border: none;
    background: transparent;
    font-size: 18px;
    width: 100%;
    outline: none;
    text-align: left;
}

.form-wrap {
    display: flex;
    flex-wrap: inherit;
    margin-top: 28px;
    gap: 20px;
    justify-content: space-between;
}

.form-wrap .input-group {
    flex: 1 1 92px;
}



/* From Uiverse.io by 3bdel3ziz-T */
.container2 {
    --transition: 350ms;
    --folder-W: 120px;
    --folder-H: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    background: linear-gradient(to right, #00f1c2, #0000ff);
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    height: calc(var(--folder-H) * 1.7);
    position: relative;
    margin-top: 25px;
}

.folder {
    position: absolute;
    top: -20px;
    left: calc(50% - 60px);
    animation: float 2.5s infinite ease-in-out;
    transition: transform var(--transition) ease;
}

.folder:hover {
    transform: scale(1.05);
}

.folder .front-side,
.folder .back-side {
    position: absolute;
    transition: transform var(--transition);
    transform-origin: bottom center;
}

.folder .back-side::before,
.folder .back-side::after {
    content: "";
    display: block;
    background-color: white;
    opacity: 0.5;
    z-index: 0;
    width: var(--folder-W);
    height: var(--folder-H);
    position: absolute;
    transform-origin: bottom center;
    border-radius: 15px;
    transition: transform 350ms;
    z-index: 0;
}

.container2:hover .back-side::before {
    transform: rotateX(-5deg) skewX(5deg);
}

.container2:hover .back-side::after {
    transform: rotateX(-15deg) skewX(12deg);
}

.folder .front-side {
    z-index: 1;
}

.container2:hover .front-side {
    transform: rotateX(-40deg) skewX(15deg);
}

.folder .tip {
    background: linear-gradient(135deg, #ff9a56, #ff6f56);
    width: 80px;
    height: 20px;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -10px;
    z-index: 2;
}

.folder .cover {
    background: linear-gradient(135deg, #ffe563, #ffc663);
    width: var(--folder-W);
    height: var(--folder-H);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.custom-file-upload {
    font-size: 1.1em;
    color: #ffffff;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background var(--transition) ease;
    display: inline-block;
    width: 100%;
    padding: 10px 35px;
    position: relative;
}

.custom-file-upload:hover {
    background: rgba(255, 255, 255, 0.4);
}

.custom-file-upload input[type="file"] {
    display: none;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}


/* Estilos adicionales */
#imagePreview {
    max-width: 40%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-height: 300px;
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: -110px;
    margin-top: -4px;
}

#loginForm {
    max-width: 1053px;
    width: 204%;
    border-radius: 20px;
    padding: 5px 30px;

}

/* Estilo para el bot贸n cuando est谩 deshabilitado */
button:disabled,
input[type="button"]:disabled {
    background: #ccc;
    cursor: not-allowed;
    opacity: 0.7;
    /* Le damos un poco de transparencia para indicar que est谩 deshabilitado */
}

/* Estilo para el bot贸n habilitado (con el fondo de gradiente) */
button,
input[type="button"]:enabled {
    background: linear-gradient(to right, #00f1c2, #0000ff);
    /* Fondo degradado */
    cursor: pointer;
    /* Cursor en forma de mano */
    color: white;
    /* Color de texto */
    transition: background 0.3s ease;
    /* Efecto de transici贸n para el fondo */
}

button:hover,
input[type="button"]:enabled:hover {
    background: linear-gradient(135deg, #031bf8, #ff032d);
    box-shadow: 0px 4px 100px rgba(249, 253, 0, 0.842);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(22 17 235 / 48%);

}

.live #Correct {
    width: 223px;
    height: auto;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.modal-content {
    position: relative;
    display: flex;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 8px solid #ff7402f3;
    border-radius: .3rem;
    outline: 0;
    margin: 8% auto;
    padding: 1px;
    width: 47%;
    height: 64%;
    text-align: center;
}

.modal-content>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.live {
    position: absolute;
    top: 43px;
    left: 50%;
    transform: translateX(-50%);
}

#modalMessage {
    position: absolute;
    top: 270px;
    left: 50%;
    transform: translateX(-50%);
}

.close {
    color: #ff0101;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/* Incluye tu c贸digo existente */
@media (max-width: 768px) {

    .modal-content p,
    strong {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .close {
        font-size: 26px;
    }


}



/* iPad Air (820 x 1180) */
@media (max-width: 820px) {
    .modal-content {
        width: 70%;
    }
}

/* Galaxy Z Fold 5 (pantalla externa) */
@media screen and (max-width: 904px) {
    .modal-content {
        max-width: 91%;
        max-height: 88%;
        width: 94%;
        overflow: overlay;
        height: 86%;
    }

    p,
    strong {
        font-size: 1rem;
    }

    .modal-content>img {
        width: 100%;
        height: 94%;
        object-fit: cover;
    }
}


/* Google Nest Hub Max (1280 x 800) */
@media (max-width: 1280px) {
    .modal-content {
        width: 91%;
        height: 86%;
        margin-top: 5%;
        overflow: overlay;
    }

    .modal-content>img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

/* iPad Pro (1024 x 1366) */
@media (max-width: 1024px) and (min-height: 1366px) {
    .modal-content {
        width: 87%;
        height: 42%;
        overflow: overlay;
    }

    p,
    strong {
        font-size: 1rem;
    }

}



@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        /* Cambia a 1 sola columna */
        width: 95%;
        height: auto;
        border-radius: 20px;
        margin-top: -28px;
    }

    .image-box {
        border-radius: 20px 20px 0 0;
        /* Redondea arriba */
        padding: 10px;
    }

    .image-box img {
        width: 281px;
    }

    .form-box {
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }

    .form-wrap {
        flex-direction: column;
        gap: 15px;
    }

    .form-toggle {
        flex-direction: column;
        gap: 10px;
    }

    #loginForm {
        width: 100%;
        padding: 20px;
    }

    #imagePreview {
        max-width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .price-section {
        width: 100%;
    }

    .custom-file-upload {
        padding: 10px;
    }

    .modal-content {
        width: 90%;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        align-items: flex-start;
        padding-top: 30px;
    }

    .container {
        width: 95%;
        max-height: none;
        grid-template-columns: 1fr;
        /* una sola columna para que no est茅 apretado */
        border-radius: 20px;
        overflow: hidden;
    }

    .image-box {
        border-radius: 20px 20px 0 0;
        padding: 20px;
    }

    .image-box img {
        width: 300px;
    }

    .form-box {
        flex-direction: column;
        padding: 30px;
        align-items: center;
        width: 100%;
    }

    .form-wrap {
        flex-direction: column;
        gap: 20px;
    }

    .form-toggle {
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }

    #loginForm {
        width: 100%;
        padding: 20px;
    }

    #imagePreview {
        max-width: 70%;
        margin: 20px auto;
        display: block;
    }

    .price-section {
        width: 100%;
        margin-top: 20px;
    }

    .custom-file-upload {
        width: 100%;
        padding: 10px;
    }

    .modal-content {
        width: 85%;
        height: 55%;
    }
}

/*Preolad*/


/* The loader */
.loader {
    display: none;
    /* oculto por defecto */
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00008b61;
    cursor: not-allowed;
    z-index: 9999;
}

.central {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    box-shadow: 0.5em 1em 1em blue,
        -0.5em 0.5em 1em lime,
        0.5em -0.5em 1em cyan,
        -0.5em -0.5em 1em yellow;
}

.external-shadow {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    top: 410px;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0.5em 0.5em 3em blue,
        -0.5em 0.5em 3em lime,
        0.5em -0.5em 3em cyan,
        -0.5em -0.5em 3em yellow;
    z-index: 999;
    animation: rotate 3s linear infinite;
    background-color: #212121;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes percent {
    0% {
        content: '0%';
    }

    25% {
        content: '25%';
    }

    33% {
        content: '33%';
    }

    42% {
        content: '42%';
    }

    51% {
        content: '51%';
    }

    67% {
        content: '67%';
    }

    74% {
        content: '74%';
    }

    75% {
        content: '75%';
    }

    86% {
        content: '86%';
    }

    95% {
        content: '95%';
    }

    98% {
        content: '98%';
    }

    99% {
        content: '99%';
    }
}
